<!DOCTYPE html>
<html>
<head>
  <title>{{ entry.headTitle }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ entry.headDescription }}">
  {% include "_favicon.twig" %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/timeline.css">
  <link rel="stylesheet" href="/assets/css/circle.css">

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

{% block content %}

{% endblock %}

<footer id="footer">
  <div class="footer-text">
    <h5>{{ siteName }}</h5>
    <p>{{ now|date('Y') }}</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>

<script src="/assets/js/bouncing-arrow.js"></script>


</body>
</html>
