{% extends "layout.html.j2" %}


{% block content %}

  {% include "main/navbar.html.j2" %}
  {% include "main/overview.html.j2" %}
  {% include "main/timeline.html.j2" %}
  {% include "main/skill.html.j2" %}
  {% include "main/highlights.html.j2" %}

{% endblock %}